{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% translate "OnlineRestaurant" %} | {{ food.name }}
{% endblock %}

{% block fbgnav %}
    nav-fbg
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
{% endblock %}

{% block content %}
    <!-- breadcrumb -->
    <div class="breadcrumb-margin"></div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">{% translate "Home" %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ food.name }}</li>
    </ol>
    <!-- food detail -->
    <div class="container">
        <div class="row detail-wrap">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="bscard">
                    <div class="row card-wrap">
                        {% if food.image_set.all %}
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    {% for img in food.image_set.all %}
                                        {% if forloop.counter == 1 %}
                                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        {% else %}
                                            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}"></li>
                                        {% endif %}
                                    {% endfor %}
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner slide-wrap" role="listbox">
                                    {% for img in food.image_set.all %}
                                        {% if forloop.counter == 1 %}
                                            <div class="item active slide-item">
                                                <a href="{{ img.url }}" ><img src="{{ img.url }}" class="d-block w-100 slide-img"></a>
                                            </div>
                                        {% else %}
                                            <div class="item slide-item">
                                                <a href="{{ img.url }}" ><img src="{{ img.url }}" class="d-block w-100 slide-img"></a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <!-- Controls -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">{% translate "Previous" %}</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">{% translate "Next" %}</span>
                                </a>
                            </div>
                        {% else %}
                            <div class="col-md-6  d-flex justify-content-center align-items-center">
                                <img src="{% static 'img/default.jpeg' %}" class="img-fluid default-img">
                            </div>
                        {% endif %}
                        <div class="col-md-6 info-wrap">
                            <div class="food p-4">
                                <div class="mt-4 mb-3"> 
                                    <div class="float-right d-inline">
                                        {% if user.is_authenticated %}
                                            {% if food in wishlist %}
                                                <a id="like-{{ food.id }}-menu" type="submit" name="menu-view" value="{{ food.id }}" ><i class="fas fa-heart nf-heart"></i></a>
                                            {% else %}
                                                <a id="like-{{ food.id }}-menu" type="submit" name="menu-view" value="{{ food.id }}" ><i class="far fa-heart nf-heart"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <p class="detail-name text-uppercase"><b>{{ food.name }}</b></p>
                                    <div class="price d-flex flex-row align-items-center">
                                        <span class="act-price">$ {{ food.price }}</span>
                                        <!-- {% if food.discount %} -->
                                            <div class="ml-2"> 
                                                <small class="dis-price">{{ food.price }}</small>
                                                <span>{{ food.discount }}% {% translate "OFF" %}</span> 
                                            </div>
                                        <!-- {% endif %} -->
                                    </div>
                                    <p class="star-wrap">
                                        {% if food.avg_rating %}
                                            {% for i in '12345'|make_list %}
                                                {% if forloop.counter <= food.avg_rating %}
                                                    <button type="button" id="star-{{ i }}" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                    </button>
                                                {% else %}
                                                    <button type="button" id="star-{{ i }}" class="btn btn-default btn-xs" aria-label="Left Align">
                                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                    </button>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% for i in '12345'|make_list %}
                                                <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                </button>
                                            {% endfor %}    
                                        {% endif %}
                                    </p>
                                </div>
                                <p class="about" data-about="{{ food.description }}">{{ food.description }}</p>
                                <div class="cart mt-4 align-items-center">
                                    <button class="btn btn-danger text-uppercase mr-2 px-4">
                                        <form action="" method="POST" class="add-to-cart">
                                            {% csrf_token %}
                                            {% if user.is_authenticated %}
                                                {% if food in in_cart %}
                                                    <a id="atc-detail" type="submit" name="food_id" value="{{ food.id }}">
                                                        <i class="fas fa-check-circle"></i>
                                                        <span>{% translate "REMOVE FROM CART" %}</span>
                                                    </a>
                                                {% else %}
                                                    <a id="atc-detail" type="submit" name="food_id" value="{{ food.id }}" >
                                                        <i class="fas fa-cart-plus"></i>
                                                        <span>{% translate "ADD TO CART" %}</span>
                                                    </a>
                                                {% endif %}
                                            {% else %}
                                                <a href="{% url 'login' %}">
                                                    <i class="fas fa-cart-plus"></i>
                                                    <span>{% translate "PROCESS" %}</span>
                                                </a>
                                            {% endif %}
                                        </form>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- comment -->
    <div class="container">
        <div class="row comment-wrap">
			<div class="col-sm-4">
				<div class="rating-block">
					<h4>{% translate "Average user rating" %}</h4>
					<h2 class="bold padding-bottom-7">{{ food.avg_rating }} <small>/ 5</small></h2>
                    {% for i in '12345'|make_list %}
                        {% if forloop.counter <= food.avg_rating %}
                            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                        {% endif %}
                    {% endfor %}
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-1">
				<h4>{% translate "Rating breakdown" %}</h4>
                <div class="count-wrap">
                    {% for key, value in rate_dict.items %}
                        <div class="pull-left">
                            <div class="pull-left count-key">
                                <div>{{ key }} <span class="glyphicon glyphicon-star"></span></div>
                            </div>
                            <div class="pull-left count-progress">
                                <div class="progress count-row">
                                <div 
                                    class="progress-bar progress-bar-{{ value.0 }}" 
                                    role="progressbar" aria-valuenow="{{ key }}" aria-valuemin="0" aria-valuemax="5" style="width: {{ value.2 }}%">
                                </div>
                                </div>
                            </div>
                            <div class="pull-right count-value">{{ value.1 }}</div>
                        </div>
                    {% endfor %}
                </div>
			</div>			
		</div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1" id="logout">
                <div class="page-header">
                    <h3 class="reviews">{% translate "Leave your comment" %}</h3>
                </div>
                <div class="comment-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#comments" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">{% translate "Comments" %} <span class="badge">{{ food.review_set.all|length }}</span></h4></a></li>
                        <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">{% translate "Add comment" %}</h4></a></li>
                    </ul>            
                    <div class="tab-content">
                        <div class="tab-pane active" id="comments">
                            <ul class="media-list">
                                {% for review in food.review_set.all %}
                                    <li class="media" id="comment{{ review.id }}">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" src="{% if review.user.avatar_url %}{{ review.user.avatar_url }}{% else %}{% static 'img/avatar.png' %}{% endif %}" alt="{% translate 'profile' %}">
                                        </a>
                                        <div class="media-body">
                                            <div class="well well-lg">
                                                <h4 class="media-heading text-uppercase reviews">{{ review.user }}</h4>
                                                <p class="media-date text-uppercase reviews list-inline">{{ review.date_created }}</p>
                                                <div class="review-block-rate">
                                                    {% for i in '12345'|make_list %}
                                                        {% if forloop.counter <= review.rating %}
                                                            <span class="fas fa-star f-star"></span>
                                                        {% else %}
                                                            <span class="far fa-star nf-star"></span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <p class="media-comment">{{ review.comment }}</p>
                                                <a class="btn btn-info btn-circle text-uppercase" data-toggle="collapse" href="#replyForm{{ review.id }}"><span class="glyphicon glyphicon-share-alt"></span> {% translate "Reply" %}</a>
                                                <a class="btn btn-warning btn-circle text-uppercase" data-toggle="collapse" href="#replyList{{ review.id }}" id="replyCount{{ review.id }}"><span class="glyphicon glyphicon-comment"></span> {{ review.reply_set.all|length }} {% blocktranslate count count=review.reply_set.all|length %}comment{% plural %}comments{% endblocktranslate %}</a>
                                                {% if review.user.id == user.id or user.is_admin %}
                                                    <a class="btn btn-danger btn-circle text-uppercase" href="javascript:void(0);" data-rating="{{ review.rating }}" id="deleteReview-{{ review.id }}"><span class="glyphicon glyphicon-remove-circle"></span> {% translate "Delete" %}</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="collapse" id="replyList{{ review.id }}">
                                            <ul class="media-list">
                                                {% for reply in review.reply_set.all %}
                                                    <li class="media media-replied" id="reply{{ reply.id }}">
                                                        <a class="pull-left" href="#">
                                                            <img class="media-object img-circle" src="{% if reply.user.avatar_url %}{{ reply.user.avatar_url }}{% else %}{% static 'img/avatar.png' %}{% endif %}" alt="{% translate 'profile' %}">
                                                        </a>
                                                        <div class="media-body">
                                                            <div class="well well-lg">
                                                                <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span> {{ reply.user }}</h4>
                                                                <div class="media-date text-uppercase reviews list-inline">{{ reply.date_created }}</div><br>
                                                                <p class="media-comment">{{ reply.content }}</p>
                                                                {% if reply.user.id == user.id or user.is_admin %}
                                                                    <a class="btn btn-danger btn-circle text-uppercase" href="javascript:void(0);" name="replyReview-{{ review.id }}" id="deleteReply-{{ reply.id }}"><span class="glyphicon glyphicon-remove-circle"></span> {% translate "Delete" %}</a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="collapse" id="replyForm{{ review.id }}">
                                            <form action="javascript:void(0);" method="POST" class="form-horizontal" role="form">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="email" class="col-sm-2 control-label">{% translate "Comment" %}</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" name="addReply" id="addReply{{ review.id }}" rows="5"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        {% if user.is_authenticated %}
                                                            <button class="btn btn-success btn-circle text-uppercase" type="submit" data-parent="{{ review.id }}" id="submitReply{{ review.id }}"><span class="glyphicon glyphicon-send"></span>{% translate "Submit comment" %}</button>
                                                        {% else %}
                                                            <a href="{% url 'login' %}" class="btn btn-success btn-circle text-uppercase" ><span class="glyphicon glyphicon-send"></span>{% translate "Login to comment" %}</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul> 
                        </div>
                        <div class="tab-pane" id="add-comment">
                            <form action="javascript:void(0)" method="POST" class="form-horizontal" id="commentForm" role="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">{% translate "Rating" %}</label>
                                    <div class="col-sm-10">
                                        <div class="starrating risingstar">
                                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">{% translate "Comment" %}</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        {% if user.is_authenticated %}
                                            <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> {% translate "Submit comment" %}</button>
                                        {% else %}
                                            <a href="{% url 'login' %}" class="btn btn-success btn-circle text-uppercase" ><span class="glyphicon glyphicon-send"></span>{% translate "Login to submit" %}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
