{% extends "base_generic.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% translate "OnlineRestaurant | Password Reset" %}
{% endblock %}

{% block fbgnav %}
    nav-fbg
{% endblock %}

{% block content %}
<div class="lr-form">
    <span class="lrhead">{% translate "Reset Password" %}</span>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% translate 'Request Password Reset' %}">
    </form>
</div>

{% endblock %}
