{% extends "base_generic.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {% translate "OnlineRestaurant | Profile" %}
{% endblock %}

{% block fbgnav %}
    nav-fbg
{% endblock %}

{% block content %}
    <!-- <link href="{% static 'css/open-sans.css' %}" rel="stylesheet"> -->

    <div class="body">
        <div class="main-content">
            <!-- Header -->
            <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" >
            <!-- Mask -->
                <span class="mask bg-gradient-default opacity-8"></span>
                <!-- Header container -->
                <div class="container-fluid d-flex align-items-center">
                    <div class="row">
                        <div class="col-lg-7 col-md-10">
                            <h1 class="display-2 text-white">{% translate "Hello" %} {{ user.username }}</h1>
                            <p class="text-white mt-0 mb-5">{% translate "This is your profile page. Here you can see and change your personal infomation." %}</p>
                            <a href="#!" class="btn btn-info">{% translate "Edit profile" %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page content -->
            <div class="container-fluid mt--7">
                <div class="row">
                    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                        <div class="card card-profile shadow">
                            <div class="row justify-content-center">
                                <div class="col-lg-3 order-lg-2">
                                    <div class="card-profile-image">
                                        <a href="#">
                                            {% if user.avatar_url %}
                                                <img src="{{ user.avatar_url }}" class="rounded-circle">
                                            {% else %}
                                                <img src="{% static 'img/avatar.png' %}" class="rounded-circle">
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                                <div class="d-flex justify-content-between">
                                    <!-- <a href="#" class="btn btn-sm btn-info mr-4">Cover</a>
                                    <a href="#" class="btn btn-sm btn-default float-right">Avatar</a> -->
                                </div>
                            </div>
                            <div class="card-body pt-0 pt-md-4">
                                <div class="row">
                                    <div class="col">
                                        <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                            <div>
                                                <span class="heading">{{ reviews|length }}</span>
                                                <span class="description">{% translate "Reviews" %}</span>
                                            </div>
                                            <div>
                                                <span class="heading">{{ comments|length }}</span>
                                                <span class="description">{% translate "Comments" %}</span>
                                            </div>
                                            <div>
                                                <span class="heading">{{ orders|length }}</span>
                                                <span class="description">{% translate "Orders" %}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <h3>{{ user.first_name }}<span class="font-weight-light">{{ user.last_name }}</span></h3>
                                    <div class="h5 font-weight-300">
                                        <i class="ni location_pin mr-2"></i>
                                        {% if user.address %}
                                            {{ user.address }}
                                        {% endif %}
                                    </div>
                                    <div class="h5 mt-4">
                                        <i class="ni business_briefcase-24 mr-2"></i>
                                        {% if user.is_admin %}
                                            {% translate "ADMIN" %}
                                        {% else %}
                                            {% if user.is_staff %}
                                                {% translate "STAFF" %}
                                            {% else %}
                                                {% translate "NORMAL USER" %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <hr class="my-4">
                                    <div><i class="ni education_hat mr-2"></i>{% translate "Last login:" %} {{ user.last_login|date:'Y/m/d H:i' }}</div>
                                    <p>{% translate "Date joined:" %} {{ user.date_joined|date:'Y/m/d H:i' }}</p>
                                    <a href=".multi-collapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="password-reset user-info">{% translate "Show more" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 order-xl-1">
                        <div class="card bg-secondary shadow">
                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h3 class="mb-0">{% translate "My account" %}</h3>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a href="#password-reset" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="password-reset" class="btn btn-sm btn-primary">{% translate "Change password" %}</a>
                                        <a href="#user-info" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="user-info" class="btn btn-sm btn-primary">{% translate "Settings" %}</a>
                                    </div>
                                </div>
                            </div>
                            <div id="account-information" class="card-body">
                                <form id="password-reset" class="collapse multi-collapse">
                                    <h6 class="heading-small text-muted mb-4">{% translate "Password Reset" %}</h6>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-current-password">{% translate "Current password" %}</label>
                                                    <input type="password" id="input-current-password" class="form-control form-control-alternative" placeholder="*****">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-new-password">{% translate "New password" %}</label>
                                                    <input type="password" id="input-new-password" class="form-control form-control-alternative" placeholder="*****">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-new-confirm-password">{% translate "New password (confirm)" %}</label>
                                                    <input type="password" id="input-new-confirm-password" class="form-control form-control-alternative" placeholder="*****">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form id="user-info" class="collapse multi-collapse">
                                    <h6 class="heading-small text-muted mb-4">{% translate "User information" %}</h6>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-username">{% translate "Username" %}</label>
                                                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="{% translate 'Username' %}" value="{{ user.username }}">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-email">{% translate "Email address" %}</label>
                                                    <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="{% translate 'test@example.com' %}" value="{{ user.email }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-first-name">{% translate "First name" %}</label>
                                                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="{% translate 'First name' %}" value="{{ user.first_name }}">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-last-name">{% translate "Last name" %}</label>
                                                    <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="{% translate 'Last name' %}" value="{{ user.last_name }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="my-4">
                                    <!-- Address -->
                                    <h6 class="heading-small text-muted mb-4">{% translate "Contact information" %}</h6>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-address">{% translate "Address" %}</label>
                                                    <input id="input-address" class="form-control form-control-alternative" placeholder="{% translate 'Address' %}" value="{{ user.address }}" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-phone">{% translate "Phone Number" %}</label>
                                                    <input type="tel" id="input-phone" class="form-control form-control-alternative" placeholder="{% translate 'Phone number' %}" value="{{ user.phone_number }}" type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-city">{% translate "City" %}</label>
                                                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="{% translate 'City' %}" value="{{ user.city }}">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-country">{% translate "Country" %}</label>
                                                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="{% translate 'Country' %}" value="{{ user.country }}">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-country">{% translate "Postal code" %}</label>
                                                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="{% translate 'Postal code' %}" value="{{ user.zip_code }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Orders -->
                <div class="row" id="orders-history">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">{% translate "Order History" %}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="shpcart" id="orders-table">
                                {% if orders %}
                                    <table class="table table-bordered table-responsive">
                                        <thead>
                                            <tr>
                                                <th scope="col">{% translate "Order ID" %}</th>
                                                <th scope="col">{% translate "Items" %}</th>
                                                <th scope="col">{% translate "Total" %}</th>
                                                <th scope="col">{% translate "Date and Time" %}</th>
                                                <th scope="col">{% translate "Status" %}</th>
                                                <th scope="col">{% translate "Delivered To" %}</th>
                                                <th scope="col">{% translate "Contact No." %}</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for order in orders %}
                                            <tr>
                                                <th scope="row">{{ order.id }}</th>
                                                <td>
                                                    {% for item in order.item_set.all %}
                                                        {{ item.food.name }}
                                                    {% endfor %}
                                                </td>
                                                <td>{{ order.total }}</td>
                                                <td>{{ order.order_date }}</td>
                                                <td><mark>{{ order.status.name }}</mark></td>
                                                <td>{{ order.address }}</td>
                                                <td>{{ order.phone_number }}</td>
                                                <td>
                                                    {% if order.status.name == 'Purchased' %}
                                                        <a class="btn btn-success" href="">{% translate "View Receipt" %}</a>
                                                    {% else %}
                                                        <a class="btn btn-info" href="{% url 'handle-checkout' order.id %}">{% translate "Payment" %}</a>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <form action="javascript:void(0);" method="post">
                                                        {% csrf_token %}
                                                        <input hidden name="checkoutip" value="" type="text">
                                                        <button class="btn btn-warning" type="submit">{% translate "Re-Order" %}</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <p class="text-center"><em>{% translate "You have not ordered anything yet." %}</em></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
