{% extends "base_generic.html" %}
{% load i18n %}

{% block title %}
    {% translate "OnlineRestaurant | Register" %}
{% endblock %}

{% block fbgnav %}
    nav-fbg
{% endblock %}

{% block content %}
<div class="lr-form">
    <span class="lrhead">{% translate "Join Today" %}</span>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input type="submit" value="{% translate 'Sign Up' %}">
    </form>
    <a href="{% url 'password_reset' %}">{% translate "Forgot Password?" %}</a>
    <p class="text-muted">
        {% translate "Already Have an Account?" %} <a class="ml-2" href="{% url 'login' %}">{% translate "Sign In" %}</a>
    </p>
</div>

{% endblock %}
