{% load i18n %}
{% load static %}
<nav class="mynavbar {% block fbgnav %}{% endblock %}">
    <a class="nav-logo" href="{% url 'index' %}">{% translate 'Online-Restaurant' %}</a>
    {% if user.is_authenticated %}
        {% translate "Hi" %}, {{ user.email }}
    {% endif %}
    <div id="toggle_open_search" class="searchtoggle">
        <i class="fas fa-search"></i>
    </div>
    <div class="user-icon dropdown">
        <i class="far fa-user"></i>
        <div class="dropdown-content dropbtn">
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">{% translate 'Profile' %}</a>
                <a href="{% url 'cart' %}">{% translate 'Cart' %}</a>
                <a href="{% url 'wishlist' %}">{% translate 'Wishlist' %}</a>
                <a href="{% url 'logout' %}">{% translate 'Logout' %}</a>
            {% else %}
                <a href="{% url 'login' %}">{% translate 'Login' %}</a>
                <a href="{% url 'register' %}">{% translate 'Register' %}</a>
            {% endif %}
        </div>
    </div>
    <div id="toggle_open_nav" class="toggle-side-nav">
        <div class="ntlines"></div>
        <div class="ntlines"></div>
        <div class="ntlines"></div>
    </div>
</nav>
