@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Pacifico&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
}

/* SCROLL TO TOP */

#scroll {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #ffbf10;
    box-shadow: 0px 0px 2px 0.4px #ffbf10;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    z-index: 3;
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #000000;
}

#scroll:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 2px 0.4px #3b3b3b;
    opacity:1;filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

/* FLASH MESSAGES */

.msgmessages{
    height: fit-content;
    margin: 70px 10px 0px 10px;
    z-index: 2;
}
  
.alertmsg {
    padding: 20px;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}
  
.alertmsg-def{
    background-color: #2196F3;
    color: white;
}

.alertmsg-success {
    background-color: #04AA6D;
    color: white;
}
  
.alertmsg-info {
    background-color: #2196F3;
    color: white;
}
  
.alertmsg-warning {
    background-color: #ff9800;
    color: white;
}
  
.alertmsg-error {
    background-color: #ff1100;
    color: white;
}
  
.closebtnmsg {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtnmsg:hover {
    color: black;
}

/* NAVBAR */

.mynavbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 174, 0, 0);
    /* color: rgb(255, 153, 0); */
    color: rgb(255, 74, 42);
    padding: 12px 1.5em;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    /* box-shadow: 5px -1px 12px -5px grey; */
    transition: all 0.4s ease-in-out;
}

.nav-logo{
    font-size: 24px;
    padding: 0px 8px;
    flex: 1;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    color: rgb(255, 74, 42);
}

.user-icon{
    font-size: 26px;
    margin-right: 30px;
}

.dropbtn {
    background-color: #ffffff;
    color: rgb(68, 68, 68);
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    right: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ffffff;
}

.searchtoggle{
    margin: 0px 30px;
    font-size: 22px;
    cursor: pointer;
}

.toggle-side-nav{
    width: fit-content;
    cursor: pointer;
}

.ntlines{
    width: 25px;
    height: 2px;
    background-color: rgb(255, 38, 0);
    margin: 8px 0;
    margin-right: 40px;
}

.nav-fbg{
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 5px -1px 12px -5px grey;
}

/* SIDENAV */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: rgb(255, 174, 0, 0.9); */
    background-color: rgb(255, 74, 42, 0.97);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 3;
}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    margin: 10px 0px;
    color: #ffffff;
    display: block;
    transition: 0.2s;
    text-align: center;
}

.sidenav a:hover {
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 8px;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.nav-active {
    transition: all 0.4s ease-in-out;
    background-color:#fff;
    box-shadow: 5px -1px 12px -5px grey;
}

/* SEARCHBAR */

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 90%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.overlay .closebtn:hover {
    color: rgb(255, 5, 5);
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    border-radius: 60pX 0 0 60px;
    background: white;
    display: inline;
    outline: none;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}

.overlay button {
    padding: 16px;
    background: #FD0100;
    color: #ffffff;
    font-size: 17px;
    border: none;
    border-radius: 0 60pX 60px 0;
    cursor: pointer;
    display: inline;
}

.overlay button:hover {
    background: rgb(255, 255, 255);
    color: rgb(255, 36, 36);
}

/* HOMEPAGE FIRST PART */

#first-part {
    /* padding: 2.5em; */
    display: flex;
    flex-direction: row;
    height: calc(100vh - 2px);
    /* margin-top: 40px; */
    background-color: #EAE6E5;
    width: 100%;
}

.left-content {
    flex: 0 1 40%;
    min-height: 100%;
    max-width: 50%;
    /* border: 1px solid red; */
    background: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 2.5em;
}

.left-title{
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Lobster', cursive;
    font-size: 2.8rem;
    /* color: rgb(255, 74, 42); */
    color: rgb(0, 0, 0);
}

.left-para{
    line-height: 1.6em;
    font-size: 1.2rem;
}

.right-content {
    flex: 0 1 60%;
    display: flex;
    height: 100%;
    max-width: 60%;
    flex-wrap: wrap;
    align-items: flex-start;
}

.right-content img{   
    width: auto;
    overflow: hidden;
    /* background-position: center; */
    object-position: center;
    object-fit: cover;
}

/* HOMEPAGE SECOND PART */

.tcrds {
    margin-top: 10vh;
    margin-bottom: 20vh;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}

#tcrd1 {
    background-color: #ff2222;
    height: 300px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    transition: all 0.3s ease-in;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

#tcrd2 {
    background-color: #ff2222;
    height: 300px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    transition: all 0.3s ease-in;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

#tcrd3 {
    background-color: #ff2222;
    height: 300px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    transition: all 0.3s ease-in;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.tcrdTitle {
    font-family:'lobster';
    padding-bottom: 12px;
    font-weight:500;
    font-size: 2rem;
}

.tcrdContent {
    color: rgba(255, 255, 255, 0.7);
}

.tcrdimg i {
    font-size: 2rem;
    padding: 30px;
}

#tcrd1:hover{
    background-color: #333333;
}

#tcrd2:hover{
    background-color: #333333;
}

#tcrd3:hover{
    background-color: #333333;
}

@media only screen and (max-width: 970px) {
    .tcrds {
        flex-direction: column;
        height: fit-content;

    }
    #tcrd1 {
        height: 300px;
        width: 350px;
    }
    #tcrd2 {
        height: 300px;
        width: 350px;
    }
    #tcrd3 {
        height: 300px;
        width: 350px;
    }
}

/* HOMEPAGE THIRD PART */

.m-jumbo{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background.jpeg");
    background-color: #242424;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    margin-top: 10vh;
}

/* P2 HEADING */

.p2-heading{
    text-align: center;
    transform: translateY(40vh);
    font-weight: 600;
    font-family: 'Lobster', cursive;
    font-size: 62px;
    display: inline-block;
    color: #ffffff;
    position: relative;
}

.p2-heading::after {
    content: "";
    color: #fff;
    position: absolute;
    right: 38px;
    top: 100%;
    left: 35px;
    height: 10px;
    background: linear-gradient(#ffffff,#ffffff) bottom;
    background-size: 100% 2px;
    background-repeat: no-repeat;
}

/* MENU */

.third-part{
    height: fit-content;
    background-color: #fff;
    padding: 2.5em;
    /* margin-top: 10vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.btn-homepage{
    /* background-color:rgb(255, 160, 17) ; */
    background-color:rgb(255, 70, 70) ;
    cursor: pointer;
    color: #fff;
    font-family: 'open sans';
    padding: 18px 28px;
    text-decoration: none !important;
    transition: all 0.2s ease-in;
    border: 1px solid rgb(255, 70, 70);
    /* border-radius: 0% 50px 0% 50px; */
    border: 2px solid #FF0000;
    border-radius: 0px 50px 0px 50px;
}

.btn-homepage:hover{
    background-color: #fff ;
    color: rgb(255, 70, 70);
}

a[id^="like"] {
    cursor: pointer;
}

.foodName-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foodName {
    font-family: Florence;
    font-weight: bold;
    font-size: 20px;
}

.foodLink {
    margin-left: 10px;
}

.food-description {
    opacity: 0.5;
    font-family: lobster;
}

@media screen and (max-width: 800px){
    .right-content{
        display: none;
        width: 0;
    }
    .left-content{
        max-width: 100%;
        width: 100%;
        flex: 100%;
        background-color: bisque;
        background-size: cover;
        color: #fff;
    }
    .left-title{
        color: rgb(255, 87, 87);
        font-size: 2.8rem;
    }
}

/* CARDS */

.food-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    width: 30%;
    margin-bottom: 5vh;
    position: relative;
}

.food-card img{
    transition: all 0.3s ease-in-out;
}
  
.food-card:hover {
    box-shadow: 8px 10px 18px 0 rgba(0,0,0,0.2);
}

#order-history,
.food-container {
    padding: 20px 26px;
}

.checkout-container  {
    padding: 100px 60px;
}

.nf-heart{
    float: right;
    font-size: 24px;
    display: inline;
    color: #FD0100;
}

.f-heart{
    float: right;
    font-size: 24px;
    display: inline;
    color: #FD0100;
}

.f-star{
    /* float: left; */
    font-size: 18px;
    display: inline;
    color: #fdad00;
}

.nf-star{
    /* float: left; */
    font-size: 18px;
    display: inline;
    color: #fdad00;
}

.c-subtext{
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    color: #6458ab
}

.food-card::before{
    content: "";
    top: -8px;
    right: -6px;
    position: absolute;
    width: 30px;
    height: 70px;
    background: rgb(255, 8, 8);
    /* border-radius: 0px 0px 0px 50px; */
    z-index: 1;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 2.6em;
    padding: 16px 32px;
    z-index: 1;
    cursor: pointer;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.food-card:hover img{
    opacity: 0.3;
}

.food-card:hover .middle{
    opacity: 1;
}

@media only screen and (max-width: 1100px){
    .food-card {
        width: 40%;
    }
}

@media only screen and (max-width: 720px){
    .food-card {
        width: 100%;
    }
}

/* P1 HEADING */

.p1-headingWrap {
    text-align: center;
    overflow: hidden;
    margin: 10px;
    margin-top: 10vh;
}

.p1-heading{
    text-align: center;
    margin: 5px 0 25px;
    font-weight: 600;
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    display: inline-block;
    color: #ff6347;
    position: relative;
}

.p1-heading::after {
    content: "";
    color: #fff;
    position: absolute;
    right: 38px;
    top: 100%;
    left: 35px;
    height: 10px;
    background: linear-gradient(#ff6347,#ff6347) bottom;
    background-size: 100% 2px;
    background-repeat: no-repeat;
  }

/* Contact form */

.f-container input[type=text], .f-container input[type=email], .f-container select, .f-container textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 12px;
    resize: vertical;
    background-color: transparent;
    color: white;
}

.f-container input[type=submit] {
    background-color: #ff0101;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.f-container input[type=submit]:hover {
    background-color: #fff;
    color: #FD0100;
}

.f-container {
    display: flex;
    flex-direction: row;
    background-color: #26272b;
    box-shadow: 0px 0px 4px 0px rgb(209, 209, 209);
    margin-top: 15vh;
    padding-bottom: 30px;
}

.cfttab1 {
    flex: 1;
    color: rgb(160, 160, 160);
    display: flex;
    padding: 90px 20px 0px 50px;
    flex-direction: column;
    font-size: 18px;
    font-weight: 300;
    align-items: flex-start;
}

.cfttab1 i {
    color: white;
}

.cfttab2 {
    flex: 1;
    padding: 20px 40px;
    background-color: #26272b;
    color: #fff;
}

#gitctf {
    display: block;
    padding: 60px 0px 30px 0px;
    letter-spacing: 1.2px;
    font-size: 22px;
}

#ftrabt span {
    color: #fff;
    font-size: 22px;
}

#ftrsocial {
    border-top: 0.1px solid white;
}

#ftrsocial i {
    font-size: 20px;
    margin: 40px 30px 0px 0px;
    cursor: pointer;
    transition: all 0.3s linear;
}

#ftrsocial i:hover {
    color: #FD0100;
}

.footer-extension{
    border-top: 1px solid rgb(87, 87, 87);
    background-color: #26272b;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px 10px 20px 10px;
}

@media only screen and (max-width: 800px) {
    .f-container {
        flex-direction: column-reverse;
    }

    #ftrsocial {
        margin-bottom: 50px;
    }
}

/* LOGIN AND REGISTER FORM */

.lr-form{
    padding: 2em;
    margin: 100px auto;
    display: block;
    max-width: 415px;
    box-shadow: 0px 0px 12px -5px grey;
}

.lr-form input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 12px;
    resize: vertical;
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.lr-form input[type=submit] {
    background-color: #ff0101;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border: 1px solid #ff0101;
}

.lr-form input[type=submit]:hover {
    background-color: rgb(255, 255, 255);
    color: #FD0100;
}

.lrhead {
    display: block;
    padding: 60px 0px 10px 0px;
    letter-spacing: 1.2px;
    font-size: 24px;
    font-weight: 600;
}

.smtmsg{
    margin: 0 auto;
    display: block;
    max-width: 400px;
    margin-top: 100px;
}

.helptext{
    opacity: 0.5;
    font-family: lobster;
}

.lr-form ul {
    opacity: 0.5;
    font-family: lobster;
}

.lr-form ul.errorlist {
    opacity: 1;
}

/* BREADCRUMB */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: rgb(255, 255, 255);
    line-height: 2.2em;
    text-align: center;
}

ol.breadcrumb {
    justify-content: center;
    text-align: center;
}

.breadcrumb-margin {
    margin-top: 110px;
}

b.searchResult {
    font-size: x-large;
    font-family: sans-serif;
}

/* FOOD DETAILS*/

.bscard {
    border: none;
}

.food {
    padding: 30px 20px;
    background-color: #eee;
    height: 100%;
    width: 100%;
    text-align: justify;
}

.act-price {
    color: red;
    font-weight: 700;
    font-size: 20px;
}

.dis-price {
    text-decoration: line-through;
}

.about {
    font-size: 14px;
}

.btn-danger {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important
}

.btn-danger:hover {
    background-color: #da0606 !important;
    border-color: #da0606 !important
}

.btn-danger:focus {
    box-shadow: none;
}

.btn-danger span {
    color: #fff;
    font-weight: bolder;
}

.cart i {
    margin-right: 10px;
}

#atc i{
    display: flex;
    flex-direction: column;
}

a#atc-detail {
    color: rgb(255, 255, 255);
}

.detail-wrap {
    padding-top: 15px;
}

.card-wrap {
    display: flex;
    justify-content: center;
    height: 400px;
}

.slide-wrap {
    width: 400px !important;
}

.slide-item {
    transition-duration: 0.2s !important;
}

.slide-img {
    height: 400px !important;
}

.default-img {
    height: 100%; width: auto;
}

.info-wrap {
    display: flex;
}

.detail-name {
    font-size: x-large;
}

.star-wrap {
    margin: 15px 0px 20px;
}

.add-to-cart {
    display: flex;
}

/* STARS RATING */

.starrating {
    float: left;
    display: flex;
    flex-direction: row-reverse;
}

.starrating :hover {
    cursor: pointer;
}

.starrating > input { display: none; } 

.starrating > label:before { 
    content: "\f005";
    margin: 2px;
    font-size: 26px;
    font-family: FontAwesome;
    display: inline-block;
}

.starrating > label { color: #222222; }

.starrating > input:checked ~ label { color: #ffca08; } 

.starrating > input:hover ~ label { color: #ffca08; } 

.btn-grey{
    background-color: #D8D8D8;
    color: #FFF;
}

.rating-block{
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 15px 15px 20px 15px;
    border-radius: 3px;
    text-align: center;
}

/* COMMENT */

.comment-wrap {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.count-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.count-key {
    width: 35px;
    line-height: 1;
    height: 9px;
    margin: 5px 0;
}

.count-progress {
    width: 180px;
}

.count-row {
    height: 9px !important;
    margin: 8px 0 !important;
}

.count-value {
    margin-left: 10px;
}

.bold {
    font-weight:700;
}

.padding-bottom-7{
    padding-bottom:7px;
}

.review-block{
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.review-block-name{
    font-size: 12px;
    margin: 10px 0;
}

.review-block-date{
    font-size: 12px;
}

.review-block-rate{
    font-size: 13px;
    margin-bottom: 15px;
}

.review-block-title{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

.review-block-description{
    font-size: 13px;
}

.page-header {
    position: relative;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.reviews {
    color: #555;    
    font-weight: bold;
    margin: 10px auto 20px;
}

.notes {
    color: #999;
    font-size: 12px;
}

.media .media-object { max-width: 100px; }

.media-body { position: relative; }

.media-date { 
    position: absolute; 
    right: 25px;
    top: 15px;
}

.media-date li { padding: 0; }

.media-date li:first-child:before { content: ''; }

.media-date li:before { 
    content: '.'; 
    margin-left: -2px; 
    margin-right: 2px;
}

.media-comment { margin-bottom: 20px; }

.media-replied { margin: 0 0 20px 50px; }

.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}

.btn-circle span { padding-right: 6px; }

.embed-responsive { margin-bottom: 20px; }

.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url("../img/avatar.png");    
    background-size: 120px;
    border-radius: 120px;
}

input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}

.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;    
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;    
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}

.custom-input-file:hover .uploadPhoto { display: block; }

/* CART */

.tdinp {
    text-align: center;
    height: 40px;
    margin-right: 10px;
}

.cart-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 1100px) {
    .cart-wrap {
        flex-direction: column;
    }
}

.shpcart table,
.shpcart th,
.shpcart td {
    border-bottom: 1px solid grey;
    border-collapse: collapse;
}

.shpcart table {
    border: 1px solid grey;
}

.shpcart th,
.shpcart td {
    padding: 20px;
    text-align: center;
}

.shpcart .thsplft {
    text-align: left;
}

#shptable {
    /* width: 100%; */
}

.shpcart {
    padding: 30px;
    margin-top: 60px;
    overflow-x: auto;
    display: flex;
    justify-content: center;
}

.shpimg img {
    width: 200px;
    height: 200px;
    border: solid;
    border-radius: 100px;
}

.shpimg {
    display: flex;
    align-items: center;
}

.shpimg div {
    padding-left: 1.5rem;
}

.tdinp {
    text-align: center;
    height: 30px;
}

.shpcheckout-wrap {
    display: flex;
}

.shpcheckout {
    margin: 2rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    line-height: 1.5em;
}

.shpcheckout hr {
    margin: 20px 0px 30px 0px;
}

.shpcheckout a {
    margin: 20px 10px 0px 0px;
    background-color: #FD0100;
    border: 1px solid transparent;
    width: fit-content;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    transition: 0.3s ease-in-out;
}

.shpcheckout a:first-child{
    background-color: rgb(20, 122, 255);
    text-decoration: none;
}

.shpcheckout a:first-child:hover {
    background-color: white;
    color: rgb(20, 122, 255);
    border: 1px solid rgb(20, 122, 255);
}

.shpcheckout a:hover {
    background-color: white;
    color: #FD0100;
    border: 1px solid #FD0100;
}

.shpcheckout span {
    display: flex;
    justify-content: space-between;
    line-height: 2;
}

.shpcheckout span.blur {
    opacity: 0.5;
}

.ref-link {
    margin-left: 10px;
}

.remove-button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.fa-check-square:before {
    color: lawngreen;
}

.space {
    white-space: nowrap;
}

p.cart-empty {
    text-align: center !important;
}

/* PROFILE PAGE */

/* :root {
    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #fff;
    --gray: #8898aa;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    --primary: #5e72e4;
    --secondary: #f7fafc;
    --success: #2dce89;
    --info: #11cdef;
    --warning: #fb6340;
    --danger: #f5365c;
    --light: #adb5bd;
    --dark: #212529;
    --default: #172b4d;
    --white: #fff;
    --neutral: #fff;
    --darker: black;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: Open Sans, sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
} */

#orders-history {
    padding-top: 50px;
}

#orders-table {
    margin-top: 0px;
    display: block;
}

#account-information,
#user-info,
#password-reset {
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.header {
    position: relative;
    min-height: 600px;
    background-image: url('../img/profile-cover.jpeg');
    background-size: cover;
    background-position: center top;
}

.body {
    padding-top: 80px;
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    color: #525f7f;
    background-color: #f8f9fe;
}

[tabindex='-1']:focus {
    outline: 0 !important;
}

hr {
    overflow: visible;
    box-sizing: content-box;
    height: 0;
}

h1,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

address {
    font-style: normal;
    line-height: inherit;
    margin-bottom: 1rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul ul {
    margin-bottom: 0;
}

dfn {
    font-style: italic;
}

strong {
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: #5e72e4;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    text-decoration: none;
    color: #233dd2;
}

a:not([href]):not([tabindex]) {
    text-decoration: none;
    color: inherit;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    text-decoration: none;
    color: inherit;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-size: 1em;
}

img {
    vertical-align: middle;
    border-style: none;
}

caption {
    padding-top: 1rem;
    padding-bottom: 1rem;
    caption-side: bottom;
    text-align: left;
    color: #8898aa;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button {
    text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type='radio'],
input[type='checkbox'] {
    box-sizing: border-box;
    padding: 0;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
    -webkit-appearance: listbox;
}

textarea {
    overflow: auto;
    resize: vertical;
}

legend {
    font-size: 1.5rem;
    line-height: inherit;
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: .5rem;
    padding: 0;
    white-space: normal;
    color: inherit;
}

progress {
    vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

[hidden] {
    display: none !important;
}

h1,
h3,
h4,
h5,
h6,
.h1,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5rem;
    color: #32325d;
}

h1,
.h1 {
    font-size: 1.625rem;
}

h3,
.h3 {
    font-size: 1.0625rem;
}

h4,
.h4 {
    font-size: .9375rem;
}

h5,
.h5 {
    font-size: .8125rem;
}

h6,
.h6 {
    font-size: .625rem;
}

.display-2 {
    font-size: 2.75rem;
    font-weight: 600;
    line-height: 1.5;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

code {
    font-size: 87.5%;
    word-break: break-word;
    color: #f3a4b5;
}

a>code {
    color: inherit;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}

.container-fluid {
    padding-bottom: 50px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}

.col-4,
.col-8,
.col,
.col-md-10,
.col-md-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-lg-7,
.col-xl-4,
.col-xl-6,
.col-xl-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
}

.col-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
}

.col-8 {
    max-width: 66.66667%;
    flex: 0 0 66.66667%;
}

@media (min-width: 768px) {
    .col-md-10 {
        max-width: 83.33333%;
        flex: 0 0 83.33333%;
    }
    .col-md-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-2 {
        max-width: 16.66666%;
        flex: 0 0 16.66666%;
    }
    .col-lg-3 {
        max-width: 25%;
        flex: 0 0 25%;
    }
    .col-lg-4 {
        max-width: 33.33333%;
        flex: 0 0 33.33333%;
    }
    .col-lg-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .col-lg-7 {
        max-width: 58.33333%;
        flex: 0 0 58.33333%;
    }
    .order-lg-2 {
        order: 2;
    }
}

@media (min-width: 1200px) {
    .col-xl-4 {
        max-width: 33.33333%;
        flex: 0 0 33.33333%;
    }
    .col-xl-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .col-xl-8 {
        max-width: 66.66667%;
        flex: 0 0 66.66667%;
    }
    .order-xl-1 {
        order: 1;
    }
    .order-xl-2 {
        order: 2;
    }
}

.form-control {
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: .625rem .75rem;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
    /* color: #8898aa; */
    color: cornflowerblue;
    border: 1px solid #cad1d7;
    border-radius: .375rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;
}

.form-row {
    display: flex;
}

@media screen and (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}

.form-control::-ms-expand {
    border: 0;
    background-color: transparent;
}

.form-control:focus {
    color: #8898aa;
    border-color: rgba(50, 151, 211, .25);
    outline: 0;
    background-color: #fff;
    box-shadow: none, none;
}

.form-control:-ms-input-placeholder {
    opacity: 1;
    color: #adb5bd;
}

.form-control::-ms-input-placeholder {
    opacity: 1;
    color: #adb5bd;
}

.form-control::placeholder {
    opacity: 1;
    color: #adb5bd;
}

.form-control:disabled,
.form-control[readonly] {
    opacity: 1;
    background-color: #e9ecef;
}

textarea.form-control {
    height: auto;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

@media (min-width: 576px) {
    .form-inline label {
        display: flex;
        margin-bottom: 0;
        align-items: center;
        justify-content: center;
    }
    .form-inline .form-group {
        display: flex;
        margin-bottom: 0;
        flex: 0 0 auto;
        flex-flow: row wrap;
        align-items: center;
    }
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .form-inline .input-group {
        width: auto;
    }
}

.btn {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    display: inline-block;
    padding: .625rem 1.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: .375rem;
}

@media screen and (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover,
.btn:focus {
    text-decoration: none;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.btn:disabled {
    opacity: .65;
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn:not(:disabled):not(.disabled):active {
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08), none;
}

.btn-primary {
    color: #fff;
    border-color: #5e72e4;
    background-color: #5e72e4;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.btn-primary:hover {
    color: #fff;
    border-color: #5e72e4;
    background-color: #5e72e4;
}

.btn-primary:focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(94, 114, 228, .5);
}

.btn-primary:disabled {
    color: #fff;
    border-color: #5e72e4;
    background-color: #5e72e4;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    border-color: #5e72e4;
    background-color: #324cdd;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none, 0 0 0 0 rgba(94, 114, 228, .5);
}

.btn-info {
    color: #fff;
    border-color: #11cdef;
    background-color: #11cdef;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.btn-info:hover {
    color: #fff;
    border-color: #11cdef;
    background-color: #11cdef;
}

.btn-info:focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(17, 205, 239, .5);
}

.btn-info:disabled {
    color: #fff;
    border-color: #11cdef;
    background-color: #11cdef;
}

.btn-info:not(:disabled):not(.disabled):active {
    color: #fff;
    border-color: #11cdef;
    background-color: #0da5c0;
}

.btn-info:not(:disabled):not(.disabled):active:focus {
    box-shadow: none, 0 0 0 0 rgba(17, 205, 239, .5);
}

.btn-default {
    color: #fff;
    border-color: #172b4d;
    background-color: #172b4d;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.btn-default:hover {
    color: #fff;
    border-color: #172b4d;
    background-color: #172b4d;
}

.btn-default:focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(23, 43, 77, .5);
}

.btn-default:disabled {
    color: #fff;
    border-color: #172b4d;
    background-color: #172b4d;
}

.btn-default:not(:disabled):not(.disabled):active {
    color: #fff;
    border-color: #172b4d;
    background-color: #0b1526;
}

.btn-default:not(:disabled):not(.disabled):active:focus {
    box-shadow: none, 0 0 0 0 rgba(23, 43, 77, .5);
}

.btn-sm {
    font-size: .875rem;
    line-height: 1.5;
    padding: .25rem .5rem;
    border-radius: .375rem;
}

.input-group {
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
}

.input-group>.form-control {
    position: relative;
    width: 1%;
    margin-bottom: 0;
    flex: 1 1 auto;
}

.input-group>.form-control+.form-control {
    margin-left: -1px;
}

.input-group>.form-control:focus {
    z-index: 3;
}

.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-prepend {
    display: flex;
}

.input-group-prepend .btn {
    position: relative;
    z-index: 2;
}

.input-group-prepend .btn+.btn,
.input-group-prepend .btn+.input-group-text,
.input-group-prepend .input-group-text+.input-group-text,
.input-group-prepend .input-group-text+.btn {
    margin-left: -1px;
}

.input-group-prepend {
    margin-right: -1px;
}

.input-group-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    margin-bottom: 0;
    padding: .625rem .75rem;
    text-align: center;
    white-space: nowrap;
    color: #adb5bd;
    border: 1px solid #cad1d7;
    border-radius: .375rem;
    background-color: #fff;
    align-items: center;
}

.input-group-text input[type='radio'],
.input-group-text input[type='checkbox'] {
    margin-top: 0;
}

.input-group>.input-group-prepend>.btn,
.input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group>.input-group-prepend:not(:first-child)>.btn,
.input-group>.input-group-prepend:not(:first-child)>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .375rem;
    background-color: #fff;
    background-clip: border-box;
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
}

.card-body {
    padding: 1.5rem;
    flex: 1 1 auto;
}

.card-header {
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    /* background-color: #fff; */
    background-color: rgba(0,0,0,.03)
}

.card-header:first-child {
    border-radius: calc(.375rem - 1px) calc(.375rem - 1px) 0 0;
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}

.progress {
    font-size: .75rem;
    display: flex;
    overflow: hidden;
    height: 1rem;
    border-radius: .375rem;
    background-color: #e9ecef;
    box-shadow: inset 0 .1rem .1rem rgba(0, 0, 0, .1);
}

.bg-secondary {
    background-color: #f7fafc !important;
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
    background-color: #d2e3ee !important;
}

.bg-default {
    background-color: #172b4d !important;
}

a.bg-default:hover,
a.bg-default:focus,
button.bg-default:hover,
button.bg-default:focus {
    background-color: #0b1526 !important;
}

.bg-white {
    background-color: #fff !important;
}

a.bg-white:hover,
a.bg-white:focus,
button.bg-white:hover,
button.bg-white:focus {
    background-color: #e6e6e6 !important;
}

.bg-white {
    background-color: #fff !important;
}

.border-0 {
    border: 0 !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex !important;
}

@media (min-width: 768px) {
    .d-md-flex {
        display: flex !important;
    }
}

@media (min-width: 992px) {
    .d-lg-inline-block {
        display: inline-block !important;
    }
    .d-lg-block {
        display: block !important;
    }
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

@media (min-width: 1200px) {
    .justify-content-xl-between {
        justify-content: space-between !important;
    }
}

.float-right {
    float: right !important;
}

.shadow,
.card-profile-image img {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}

.m-0 {
    margin: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mr-2 {
    margin-right: .5rem !important;
}

.ml-2 {
    margin-left: .5rem !important;
}

.mr-3 {
    margin-right: 1rem !important;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

.mr-4 {
    margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.mt--7 {
    margin-top: -6rem !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pt-5 {
    padding-top: 3rem !important;
}

.pt-8 {
    padding-top: 8rem !important;
}

.pb-8 {
    padding-bottom: 8rem !important;
}

.m-auto {
    margin: auto !important;
}

@media (min-width: 768px) {
    .mt-md-5 {
        margin-top: 3rem !important;
    }
    .pt-md-4 {
        padding-top: 1.5rem !important;
    }
    .pb-md-4 {
        padding-bottom: 1.5rem !important;
    }
}

@media (min-width: 992px) {
    .pl-lg-4 {
        padding-left: 1.5rem !important;
    }
    .pt-lg-8 {
        padding-top: 8rem !important;
    }
    .ml-lg-auto {
        margin-left: auto !important;
    }
}

@media (min-width: 1200px) {
    .mb-xl-0 {
        margin-bottom: 0 !important;
    }
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.font-weight-light {
    font-weight: 300 !important;
}

.font-weight-bold {
    font-weight: 600 !important;
}

.text-white {
    color: #fff !important;
}

.text-white {
    color: #fff !important;
}

a.text-white:hover,
a.text-white:focus {
    color: #e6e6e6 !important;
}

.text-muted {
    color: #8898aa !important;
}

@media print {
    *,
    *::before,
    *::after {
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a:not(.btn) {
        text-decoration: underline;
    }
    img {
        page-break-inside: avoid;
    }
    p,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h3 {
        page-break-after: avoid;
    }
    @page {
        size: a3;
    }
    .body {
        min-width: 992px !important;
    }
    .container {
        min-width: 992px !important;
    }
}

.bg-white {
    background-color: #fff !important;
}

a.bg-white:hover,
a.bg-white:focus,
button.bg-white:hover,
button.bg-white:focus {
    background-color: #e6e6e6 !important;
}

.bg-gradient-default {
    background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
}

.bg-gradient-default {
    background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
}

@keyframes floating-lg {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes floating-sm {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

.opacity-8 {
    opacity: .8 !important;
}

.opacity-8 {
    opacity: .9 !important;
}

.center {
    left: 50%;
    transform: translateX(-50%);
}

[class*='shadow'] {
    transition: all .15s ease;
}

.font-weight-300 {
    font-weight: 300 !important;
}

.text-sm {
    font-size: .875rem !important;
}

.text-white {
    color: #fff !important;
}

a.text-white:hover,
a.text-white:focus {
    color: #e6e6e6 !important;
}

.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: 50%;
    background-color: #adb5bd;
    align-items: center;
    justify-content: center;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.avatar-sm {
    font-size: .875rem;
    width: 36px;
    height: 36px;
}

.btn {
    font-size: .875rem;
    position: relative;
    transition: all .15s ease;
    letter-spacing: .025em;
    text-transform: none;
    will-change: transform;
}

.btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.btn:not(:last-child) {
    margin-right: .5rem;
}

.btn i:not(:first-child) {
    margin-left: .5rem;
}

.btn i:not(:last-child) {
    margin-right: .5rem;
}

.input-group .btn {
    margin-right: 0;
    transform: translateY(0);
}

.btn-sm {
    font-size: .75rem;
}

[class*='btn-outline-'] {
    border-width: 1px;
}

.card-profile-image {
    position: relative;
}

.card-profile-image img {
    position: absolute;
    left: 50%;
    max-width: 180px;
    transition: all .15s ease;
    transform: translate(-50%, -30%);
    border-radius: .375rem;
}

.card-profile-image img:hover {
    transform: translate(-50%, -33%);
}

.card-profile-stats {
    padding: 1rem 0;
}

.card-profile-stats>div {
    margin-right: 1rem;
    padding: .875rem;
    text-align: center;
}

.card-profile-stats>div:last-child {
    margin-right: 0;
}

.card-profile-stats>div .heading {
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
}

.card-profile-stats>div .description {
    font-size: .875rem;
    color: #adb5bd;
}

.main-content {
    position: relative;
}

.main-content .navbar-top {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    background-color: transparent;
}

@media (min-width: 768px) {
    .main-content .container-fluid {
        padding-right: 39px !important;
        padding-left: 39px !important;
    }
}

.form-control-label {
    font-size: .875rem;
    font-weight: 600;
    color: #525f7f;
}

.form-control {
    font-size: .875rem;
}

.form-control:focus:-ms-input-placeholder {
    color: #adb5bd;
}

.form-control:focus::-ms-input-placeholder {
    color: #adb5bd;
}

.form-control:focus::placeholder {
    color: #adb5bd;
}

textarea[resize='none'] {
    resize: none !important;
}

textarea[resize='both'] {
    resize: both !important;
}

textarea[resize='vertical'] {
    resize: vertical !important;
}

textarea[resize='horizontal'] {
    resize: horizontal !important;
}

.form-control-alternative {
    transition: box-shadow .15s ease;
    border: 0;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
}

.form-control-alternative:focus {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.input-group {
    transition: all .15s ease;
    border-radius: .375rem;
    box-shadow: none;
}

.input-group .form-control {
    box-shadow: none;
}

.input-group .form-control:not(:first-child) {
    padding-left: 0;
    border-left: 0;
}

.input-group .form-control:not(:last-child) {
    padding-right: 0;
    border-right: 0;
}

.input-group .form-control:focus {
    box-shadow: none;
}

.input-group-text {
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
}

.input-group-alternative {
    transition: box-shadow .15s ease;
    border: 0;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
}
  
.input-group-alternative .form-control,
.input-group-alternative .input-group-text {
    border: 0;
    box-shadow: none;
}

.focused .input-group-alternative {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08) !important;
}

.focused .input-group {
    box-shadow: none;
}
  
.focused .input-group-text {
    color: #8898aa;
    border-color: rgba(50, 151, 211, .25);
    background-color: #fff;
}

.focused .form-control {
    border-color: rgba(50, 151, 211, .25);
}
  
.input-group {
    transition: all .15s ease;
    border-radius: .375rem;
    box-shadow: none;
}

.input-group .form-control {
    box-shadow: none;
}

.input-group .form-control:not(:first-child) {
    padding-left: 0;
    border-left: 0;
}

.input-group .form-control:not(:last-child) {
    padding-right: 0;
    border-right: 0;
}

.input-group .form-control:focus {
    box-shadow: none;
}

.input-group-text {
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
}

.input-group-alternative {
    transition: box-shadow .15s ease;
    border: 0;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
}

.input-group-alternative .form-control,
.input-group-alternative .input-group-text {
    border: 0;
    box-shadow: none;
}

.focused .input-group-alternative {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08) !important;
}

.focused .input-group {
    box-shadow: none;
}

.focused .input-group-text {
    color: #8898aa;
    border-color: rgba(50, 151, 211, .25);
    background-color: #fff;
}

.focused .form-control {
    border-color: rgba(50, 151, 211, .25);
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .15s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
    .mask {
        transition: none;
    }
}

.progress {
    overflow: hidden;
    height: 8px;
    margin-bottom: 1rem;
    border-radius: .25rem;
    background-color: #e9ecef;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

p {
    /* font-size: 1rem; 
    font-weight: 300; */
    line-height: 1.7;
}

.description {
    /* font-size: .875rem; */
}

.heading {
    font-size: .95rem;
    font-weight: 600;
    letter-spacing: .025em;
    text-transform: uppercase;
}

.heading-small {
    font-size: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.display-2 span {
    font-weight: 300;
    display: block;
}

@media (max-width: 768px) {
    .btn {
      margin-bottom: 10px;
    }
}
