{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <!-- NAVBAR -->
    {% include "layouts/navbar.html" %}

    <a href="#" id="scroll" style="display: none;"><span></span></a>

    <!-- SEARCHBAR -->
    {% include "layouts/search_bar.html" %}

    <!-- SIDENAVBAR  -->
    {% include "layouts/side_navbar.html" %}


    <!-- MAIN BODY -->
    <main>
        {% if messages %}
            <div class="mynavbar msgmessages">
                {% for message in messages %}
                    <div class="alertmsg {% if message.tags %} alertmsg-{{message.tags}} {% else %} alertmsg-def {% endif %} ">
                        <span class="closebtnmsg">&times;</span>  
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    {% include "layouts/footer.html" %}

    <!-- SCRIPTS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/checkout.js' %}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>
